.footer {
    background-color: #ffffff;
    color: white;
    padding: 30px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1; 
  }
  