

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: orange; 
    color: #fff; 
    padding: 20px;
    text-align: center;
}

.header h1 {
    font-size: 28px;
    margin: 0;
}

.contact-content {
    flex-grow: 1;
    max-width: 800px;
    padding: 30px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
}

.contact-content p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #666; 
}

.footer {
    background-color: #333; 
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.footer p {
    margin: 0;
}
