.table-container {
  overflow-x: auto;
  overflow-y: auto;
  max-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 769px) {
  .table-container table {
    width: 100%;
  }
}


@media (max-width: 768px) {
  .table-container table {
    width: 100%; 
  }

  
  .table-container {
    max-height: none; 
    overflow-x: scroll; 
    overflow-y: auto;
  }

  .table-container table th {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 2;
  }

  .table-container table td {
    margin-top: 70px;
    z-index: 1;
  }
}
